/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL SETTINGS*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 4.5em;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
}

/* START HEADER */

header {
    background-color: #FF6900;
    height: 4.5em;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-top-header {
    height: 100%;
    white-space: nowrap;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

.navbar-top.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15%;
}

.navbar-top .nav-left > a {
    font-weight: 700;
    padding-right: 0.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-top .nav-right > a,i {
    font-weight: 700;
    padding-right: 0.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* START MAIN */

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main .container {
    display: flex;
    flex-wrap: wrap;
}

.box-article {
    position: relative;
    padding: 1rem .5rem;
    flex: 0 0 calc(100% / 3);
}

.box-article .img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.4;
}

.box-article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .box-article .img-back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
} */

.discount-red {
    display: inline-block;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 700;
    padding: 5px 10px;
    position: absolute;
    left: 0%;
    bottom: 5%;
}

.discount-green {
    display: inline-block;
    background-color: #008000;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 700;
    padding: 5px 10px;
    position: absolute;
    left: 15%;
    bottom: 5%;
}

.green-1 {
    display: inline-block;
    background-color: #008000;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 700;
    padding: 5px 10px;
    position: absolute;
    left: 0%;
    bottom: 5%;
}

.fb-icon {
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    top: 10px;
}

.fb-hover:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
}

p {
    padding-top: 2px;
    padding-bottom: 1px;
}

h4 {
    padding-top: 1px;
    padding-bottom: 2px;
}

.red-price {
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.cut-price {
    text-decoration: line-through;
}

/* START FOOTER */

footer {
    height: 8.5em;
    background-color: #1A1A1A;
}

.navbar-bot-footer {
    margin: auto;
    height: 100%;
    padding-top: 2em;
    max-width: 100%;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

.navbar-bot.container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bottom-left {
    color: rgb(255, 255, 255);
}

.nav-bottom-left > * {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
}

.nav-bottom-right > * {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
}