/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL SETTINGS*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* START HEADER */

header {
    background-color: #FF6900;
    height: 4.5em;
}

nav {
    height: 100%;
    padding-top: 1em;
    max-width: 100%;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

.navbar-top.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

.navbar-top .logo {
    width: 15%;
}

.navbar-top .nav-left > a {
    font-weight: 700;
    padding-right: 0.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-top .nav-right > a,i {
    font-weight: 700;
    padding-right: 0.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* START MAIN */

.box-article {
    padding-top: 4.5em;
}

.art-img {
    background-size: cover;
    width: 500px;
    height: 600px;
}

.male-a {
    background-image: url(../img/1.webp);
}

.female-a {
    background-image: url(../img/2.webp);
}

.female-b {
    background-image: url(../img/3.webp);
}

.male-b {
    background-image: url(../img/4.webp);
}

.female-c {
    background-image: url(../img/5.webp);
}

.female-d {
    background-image: url(../img/6.webp);
}
