/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL SETTINGS*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* START HEADER */

header {
    background-color: #FF6900;
    height: 5em;
}

.navbar-top {
    padding-top: 1em;
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

.navbar-top .logo {
    width: 20%;
}

.navbar-top .nav-left > a {
    padding-right: 0.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-top .nav-right > a,i {
    padding-right: 0.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

